
.logo{
    height: 50px;
}
.navbar{
  
    padding-top:0 ; 
    height: 10vh;

}
.z-index-class{
   z-index: 2000;
}
.btn-top{
   width: 140px;
}
.dropdown-menu{
   transform: translate(0px, 40px)  !important; 
}
.scroll-content {
   width: 100%;
   overflow-x:auto;

}

.content-title{
   background-image: linear-gradient(rgb(107, 232, 248), rgb(48, 34, 236));
  
   border-radius: 5px;
   padding: 5px;
}
.col-design{
    background-color: #ebecf0;
    margin: 20px;
    border-radius: 5px;
    min-width: 300px;
   
}

.todo-task{
   padding: 3px;
   margin: 7px;
   background-color: white;
   border-radius: 5px;
   border-bottom:1px solid silver;
}
.modal-btn{
 color: rgb(151, 147, 147);
}
.content-btn{
   position: relative;
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 3px;
   margin-top: 7px;
   background-color: white;
   border-radius: 5px;
   border-bottom:1px solid silver;
   overflow: hidden;
}
.svg-pencil{
   position: absolute;
   right: 7px;
   top: 7px;
   display: none;
  
}
.svg-arrow-up{
   position: absolute;
   right: 25px;
   top: 7px;

}
span{
   padding-left: 10px;
}

 .content-btn:hover .svg-pencil{
    display: inline;
}
 .content-btn:hover{
   background-color: rgba(85, 82, 82, 0.2)
}
.input-content, .input-user,.input-priority, .update-title-input, .update-priority, .update-username{
    
   text-align: start;
   overflow:hidden; 
   width:70% ;
   border-radius: 5px;
}

#draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
#droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
