<select  id="sizeselect">
    <% listSearchColor.map(function(elm){ %>
        <option value="<%= elm.size %>"><%= elm.size %></option>
    <%} ) %>    
</select>

<SPan>SO luong: <%= listSearchColor[0].quality%></SPan>